* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
  background-color: #eaeaea;
}

#app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.container {
  text-align: center;
}

.codeInput {
  display: inline-block;
  margin: 0 auto 10px auto;
}

.spaced:not(:last-child) {
  margin-bottom: 30px;
}